# Lists, Sets, Dictionaries and Tuples

## Boolean Variables

In [5]:
myName = "John Doe"
print(myName.isalnum())
print(myName.isdecimal())
print(myName.islower())
print(myName.isupper())
print(myName.startswith("J"))
print(myName.endswith("p"))

print(True and False)
print(True or False)
print(not False)

False
False
False
False
True
False
False
True
True

## Lists

In [ ]:
# List items are ordered, changeable, and allow duplicate values.

In [11]:
lst1 = []
lst2 = list()
type(lst1)

list

In [25]:
lst = ["Physics", "Chemistry", "Maths", 100, 150]
print(lst)
print(len(lst))

lst.append("Biology")
print(lst)
print(lst[1:])

lst.append(["Mammal", "Fish", "Bird"])
print(lst)

lst.insert(3, "Literature")
print(lst)

lst.extend([1001, 2002, 100])
print(lst)

print(lst.count(100))

print(lst.index("Chemistry"))

lst.pop()
print(lst)

print(lst*2)

['Physics', 'Chemistry', 'Maths', 100, 150]
5
['Physics', 'Chemistry', 'Maths', 100, 150, 'Biology']
['Chemistry', 'Maths', 100, 150, 'Biology']
['Physics', 'Chemistry', 'Maths', 100, 150, 'Biology', ['Mammal', 'Fish', 'Bird']]
['Physics', 'Chemistry', 'Maths', 'Literature', 100, 150, 'Biology', ['Mammal', 'Fish', 'Bird']]
['Physics', 'Chemistry', 'Maths', 'Literature', 100, 150, 'Biology', ['Mammal', 'Fish', 'Bird'], 1001, 2002, 100]
2
1
['Physics', 'Chemistry', 'Maths', 'Literature', 100, 150, 'Biology', ['Mammal', 'Fish', 'Bird'], 1001, 2002]
['Physics', 'Chemistry', 'Maths', 'Literature', 100, 150, 'Biology', ['Mammal', 'Fish', 'Bird'], 1001, 2002, 'Physics', 'Chemistry', 'Maths', 'Literature', 100, 150, 'Biology', ['Mammal', 'Fish', 'Bird'], 1001, 2002]

## Sets

In [26]:
# Set items are unordered, unchangeable, and do not allow duplicate values.

In [30]:
st1 = set()
st2 = {"IronMan", "BatMan", "SpiderMan"}
type(st2)

set

In [38]:
st = {"IronMan", "BatMan", "SpiderMan"}
print(st)

st.add("Hulk")
print(st)

set1 = {"A", "B", "C", "D"}
set2 = {"A", "B", "X", "Y"}

print(set1.intersection(set2))
print(set1.difference(set2))

{'IronMan', 'SpiderMan', 'BatMan'}
{'IronMan', 'SpiderMan', 'BatMan', 'Hulk'}
{'B', 'A'}
{'C', 'D'}

## Dictionaries

In [39]:
# Dictionary items are ordered, changeable, and does not allow duplicates.
# Dictionary items are presented in key:value pairs.

In [43]:
dic1 = {}
dic2 = {"Car1": "Audi", "Car2": "BMW", "Car3": "Ferrari"}
type(dic1)

dict

In [49]:
dic2 = {"Car1": "Audi", "Car2": "BMW", "Car3": "Ferrari"}

##Access item using key
print(dic2["Car1"])

# Looping over keys
for x in dic2:
    print(x)
    
# Looping over values
for x in dic2.values():
    print(x)
    
# Looping over keys and values
for x in dic2.items():
    print(x)
    
dic2["Car4"] = "Lambhorgini"
print(dic2)

Audi
Car1
Car2
Car3
Audi
BMW
Ferrari
('Car1', 'Audi')
('Car2', 'BMW')
('Car3', 'Ferrari')
{'Car1': 'Audi', 'Car2': 'BMW', 'Car3': 'Ferrari', 'Car4': 'Lambhorgini'}

### Nested Dictionary

In [50]:
car1_model = {"Mercedes": 1960}
car2_model = {"Audi": 1970}
car3_model = {"BMW": 1980}

car_type = {"car1": car1_model, "car2": car2_model, "car3": car3_model}
print(car_type)

{'car1': {'Mercedes': 1960}, 'car2': {'Audi': 1970}, 'car3': {'BMW': 1980}}

In [53]:
## Access item in nested dictionary
print(car_type["car1"])

print(car_type["car1"]["Mercedes"])

{'Mercedes': 1960}
1960

# Tuples

In [ ]:
# Tuple items are ordered, unchangeable, and allow duplicate values.

In [54]:
tple = ()
type(tple)

tuple

In [60]:
myTuple = ("Adam", "Brian", "Charles")
print(myTuple)
print(myTuple[1])

#Tuple is immutable
# myTuple[1] = "John"
myTuple = {1, 2, 3}
print(myTuple)

('Adam', 'Brian', 'Charles')
Brian
{1, 2, 3}