# Pandas

In [ ]:
# Pandas is used to read and analyze data.

In [2]:
import pandas as pd
import numpy as np

In [9]:
data = np.arange(0,20)
index = ['Row1', 'Row2', 'Row3', 'Row4', 'Row5']
columns = ['Column1', 'Column2', 'Column3', 'Column4']

df = pd.DataFrame(data.reshape(5,4), index, columns)
df.head()

      Column1  Column2  Column3  Column4
Row1        0        1        2        3
Row2        4        5        6        7
Row3        8        9       10       11
Row4       12       13       14       15
Row5       16       17       18       19

In [10]:
df.to_csv('Test1.csv')

In [21]:
## Accessing the elements
## (1) .loc   (2) .iloc

df.loc['Row1']

Column1    0
Column2    1
Column3    2
Column4    3
Name: Row1, dtype: int32

In [22]:
## Check the type of loc
type(df.loc['Row1'])

pandas.core.series.Series

In [25]:
df.iloc[0:2,0:2]

      Column1  Column2
Row1        0        1
Row2        4        5

In [26]:
## Check the type of iloc
type(df.iloc[0:2,0:2])

pandas.core.frame.DataFrame

In [33]:
# Convert dataframe to array

print(df.iloc[:,:].values.shape)
df.iloc[:,:].values

(5, 4)

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11],
       [12, 13, 14, 15],
       [16, 17, 18, 19]])

In [34]:
df.isnull().sum()

Column1    0
Column2    0
Column3    0
Column4    0
dtype: int64

In [37]:
df['Column1'].unique()

array([ 0,  4,  8, 12, 16])

In [36]:
df['Column1'].value_counts()

12    1
4     1
16    1
8     1
0     1
Name: Column1, dtype: int64

In [39]:
df[['Column2', 'Column3']]

      Column2  Column3
Row1        1        2
Row2        5        6
Row3        9       10
Row4       13       14
Row5       17       18